main {
  @apply
    relative
    w-screen md:w-full
    overflow-hidden
    max-w-[100vw] md:max-w-7xl mx-auto 
    mt-12 px-4
    grid gap-12;

  section {
    @apply
      p-4 md:p-16
      border border-white/5
      rounded-3xl
      bg-slate-800/25;
    
    h2 {
      @apply
        mb-2
        text-slate-400 text-7xl md:text-[92px] text-center
        font-semibold;
    }

    &[class$="projects"] {
      @apply relative;

      &.live-projects {
        h2 {
          @apply
            relative block mx-auto
            max-md:mt-4 mb-4
            w-fit
            z-10;

          span {
            @apply
              absolute -top-6 -left-2
              px-4 py-1
              text-xl text-white
              font-bold
              z-[-1];

            &::before {
              content: '';
              @apply
                inline-block
                w-4 h-4 mr-2
                rounded-full
                bg-red-600
                animate-pulse;
            }
          }
        }

        .bg {
          @apply
            absolute top-0 left-0
            w-full h-full
            opacity-50
            -z-10;
  
          $size: 256px;
          background-image: url('/gamepad.svg'), url('/gamepad.svg');
          background-size: $size;
          background-repeat: repeat;
          background-position: 0 0, calc($size / 2) calc($size / 2);
          background-attachment: fixed;
        }
      }

      &.professional-projects {
        h2 {
          @apply 
            relative block mx-auto
            mb-10
            w-fit
            z-10;

          span {
            @apply
              absolute
              -bottom-6 md:-bottom-5
              -left-3 md:-left-2
              px-4 py-1
              text-lg md:text-xl text-white
              font-light
              
              z-[-1];

            clip-path: polygon(16px 0, 100% 0, calc(100% - 16px) 100%, 0 100%);
          }
        }
      }
    }
  
    .projects {
      @apply
        grid gap-6
        grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
    }
  }
}