main {
  @apply
    p-12 md:p-24
    flex flex-col gap-6
    items-center justify-center
    h-[100dvh];

  h1,h2 {
    @apply
      text-4xl lg:text-6xl 
      text-center font-bold opacity-0;

    animation: fade-in 6s ease-in-out;
    animation-fill-mode: backwards;

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}